* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    height: 5000px;
}

/* start header */
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imags/image_1\(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.header-box {
    width: 70%;
    margin: 0 auto;
    padding: 300px 0;
}

.header-box p {
    color: white;
    font-size: 50px;

}

.header-links {
    margin-top: 40px;
}

.header-link1 {
    background-color: #1a57a5;
    border: 2px solid #1a57a5;
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    
}

.header-link2{
    border: 2px solid white;
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
}

.header-link1:hover {
    background-color: #0f386e;
}

.header-link2:hover {
    background-color: rgba(255, 255, 255, 0.293);
}
/* end header */

/* start services */

.services {
    margin: 100px 0;
}

.services-box {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.service {
    width: 33%;
    line-height: 1.5 ;
}

.service h3 {
    color: #1a57a5;
    margin: 15px 0;
}

.service p{
    width: 75%;
    color: rgb(110, 110, 110);
}

.service a {
    color: #1a57a5;
    text-decoration: none;
}

.service-top-icon {
    font-size: 55px;
    color: #1a57a5;
    margin-bottom: 10px;
}

.service a i {
    font-size: 13px;
    transition-duration: 0.5s;
}

.service a:hover i{
    margin-left: 13px;
}

/* end services */